body {
  background-image: url("1.jpg");
  display: flex;
  flex-direction: row;
  height: 95vh;

}

#container{
  display: block;
  margin: auto auto;

}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 9vw;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1vw;
}

#game {

  background-color: rgba(201, 118, 248, 0.4);
  border: 2px solid rgb(255, 255, 255);
  margin: auto;
  margin-left: 1vw;
  margin-right: 1vw;
}
#intro {
  color: white;
  width: 100%;
  text-align: center;
  margin: 1vw;
  margin-right: 1vw;
}
#playerCount {
  color: white;
  width: 100%;
  text-align: center;
  margin: 1vw;
  margin-right: 1vw;
}

#scores{
  color: white;
  width: 100%;
  text-align: center;
  margin: 1vw;
  margin-right: 1vw;
}


#header {
  color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: xx-large;
}
